.fetched-joke {
  width: 100%;
  border-radius: 20px;
  background: #F8F8F8;
  padding: 40px 40px 45px 40px;
  overflow: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}
/* overriding container style within the favorite bar */
.fav-bar-container > .fetched-joke {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.joke-favorite-container {
  width: 100%;
  height: 17px;
  margin-bottom: 10px;
}
.joke-favorite-container > img {
  width: 20px;
  height: 17px;
  float: right;
}

.joke-icon-column {
  width: 40px;
  margin-right: 20px;
  float: left;
}
.joke-icon-column > img {
  width: 40px;
  height: 40px;
}

.joke-main-column {
  width: calc(100% - 40px - 20px);
  float: right;
}

.joke-link-row {
  height: 14px;
  margin-bottom: 5px;
}
.joke-id-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #ABABAB;
}
.joke-id-label > a {
  text-decoration: none;
}
.joke-id-label > a > span {
  color: #8EA7FF;
  padding-bottom: 0.2px;
  border-bottom: 0.5px solid #8EA7FF;
}
.joke-id-label > a > img {
  width: 10px;
  height: 10px;
  vertical-align: top;
  margin-left: 5px;
}

.joke-text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal; 
  color: #333333;
}
/* overriding font style within the favorite bar */
.fav-bar-container .joke-text {
  font-size: 14px;
  line-height: 20px;
}

.joke-footer {
  width: 100%;
  margin-top: 23px;
}
/* overriding font style within the favorite bar */
.fav-bar-container .joke-footer {
  margin-top: 20px;
}
.joke-footer > .joke-last-update {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #ABABAB;
}
.joke-footer > .joke-category {
  float: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333333;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 6px 20px;
}
