main.desktop-main {
  flex-grow: 2;
  padding: 0 50px;

  .container {
    width: 680px;
    margin: 40 auto;
  }  
}

main.tablet-main {
  width: 100%;

  .container {
    width: calc(100% - 80px);
    margin: 40px;
  }
}

main.mobile-main {
  width: 100%;

  .container {
    width: calc(100% - 40px);
    margin: 20px;
  }
}
