.categories-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 2px 0 20px 0;
}

.categories-container label {
  margin: 8px 10px 0 0;
  padding: 6px 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ABABAB;
  border: 2px solid #F8F8F8;
  box-sizing: border-box;
  border-radius: 6px;
}
